/*
Theme Name: Divi Child
Theme URI: http://www.elegantthemes.com/gallery/divi/
Author: Mirko Schubert
Author URI: https://mirkoschubert.de
Description: A Divi Child Theme with lots of GDPR and page speed optimizations and some tweaks and bug fixed for the parent theme.
Tags: child-theme
Version: 3.0.0
Requires at least: 6.3
Tested up to: 6.9
Requires PHP: 8.0
License: GNU General Public License version 3.0
License URI: http: //www.gnu.org/licenses/gpl-3.0.html
Template: Divi
Text Domain: divi-child
Domain Path: /languages
*/


/* For adding CSS rules to this file please use the .child class! */

/** -------- Add your own code after this! -------- **/
